*.asc
*.pgp
*.gpg
*.pub
node_modules
.dccache
/.pnp
.pnp.js
out
*.sh
# testing
/coverage
TODO
# production
/build
/dist

#dev
/temp

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*